# Large texture files
Assets/Classical_city/Textures/building_a.tif
Assets/Classical_city/Textures/ground.tif
Assets/Classical_city/Textures/props_a.tif
Assets/Classical_city/Textures/props_b.tif
Assets/Classical_city/Textures/vegetation_b.tif
Assets/Garage/Source/Textures/Garage Blue.psd